/**********************************tags****************************************/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*********************************class****************************************/
.statusBoard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.gameLayout {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(100px, 200px));
    gap: 16px;
    
}

.tile {
    background-color: rgb(192, 192, 192);
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gameOver{
    margin-top: 300px;
    font-size: 100px;
}